
.single_emission
    %div
        :markdown
            #{@emission["metadata"]["content"]}
    %div
        %a{:href => "/emission/#{@emission["_id"]}/"}=@emission["posted_date"]
    %hr
    %a{:href => "/user/#{@emission["username"]}/"}=@emission["username"]

