
%h2="Following"

%p="#{@user.username} is following #{@user.num_following} user#{"s" unless @user.num_following == 1}"

- if not @following.empty?
    #user_list
        - @following.each do |following_user|
            = display_user_in_list(following_user)

