
%h2="Followers"

%p="#{@user.username} has #{@user.num_followers} follower#{"s" unless @user.num_followers == 1}"

#user_list
    - @followers.each do |follower|
        = display_user_in_list(follower)

