
%h2="Following"

%p="#{@user["username"]} is following #{@following.length} user#{"s" unless @following.length == 1}"

#user_list
    - @following.each do |following|
        = display_user_in_list(following)

