

#emit_form
    %form{:action=>"/emit/", :method=>"post"}
        %span="What are you thinking?"
        %br
        %textarea{:name => "content", :rows => 6, :tabindex => 1}
        %br
        %input{:type => "submit", :value => "Emit"}

#emission_list
    - if @emissions and @emissions.length > 0
        - @emissions.each do |emission|
            = display_emission(emission)
    - else
        %p="Make communicating easier by <em>emitting</em> throughout the day"

