

#emit_form
    %form{:action=>"/emit/", :method=>"post"}
        %span="What are you thinking?"
        %br
        %textarea{:name => "content", :rows => 6}
        %br
        %input{:type => "submit", :value => "Emit"}

#emission_list
    - @emissions.each do |emission|
        = display_emission(emission)

