%h3="Emitter"

%p="Have you ever..."

%ul
    %li="Forgotten to CC someone in an email?"
    %li="Published something in your organization's wiki that promptly got lost?"
    %li="Wished you could communicate more quickly and effectively within your organization?"

%strong="Emitter can solve your problem"

%ul
    %li="Publish easily to your personal timeline"
    %li="Control who you receive information from"
    %li="See what's going on inside your organization"
