%html
    %head
        %title="Emitter"
        %link{:rel => "stylesheet", :type => "text/css", :href => "/css/main.css"}
    %body
        #header
            #header_left
                %h1="Emitter"
            #header_right
                - if @session
                    %a{:href => "/home/"}="#{@session["username"]}"
                    %a{:href => "/profile/"}="Profile"
                    %a{:href => "/search/"}="Search"
                    %a{:href => "/logout/"}="Logout"
                - else
                    %a{:href => "/login/"}="Login"
                    or
                    %a{:href => "/signup/"}="Signup"

        #outer_container

            #main_container
                = yield

            #sidebar
                - if @user
                    = display_userinfo("User", @user)

            .clear

        #footer
            %p="&copy; 2010, Sean Schulte"
