
%h2="#{@user.username} Mentions"

#emission_list
    - if not @emissions.empty?
        - @emissions.each do |emission|
            = display_emission(emission)
    - else
        %p="#{@user.username} has not been mentioned yet"

