
.user
    .user_left
        %img.user_image{:src => "/profile_pictures/#{@userInfo.username}.jpg"}
    .user_right
        %a{:href => "http://#{@site_hostname}/user/#{@userInfo.username}/"}=@userInfo.username
