
.emission
    .emission_left
        %img.user_image{:src => "/profile_pictures/#{@emission["username"]}.jpg"}
    .emission_right
        %a{:href => "/user/#{@emission["username"]}/"}=@emission["username"]
        %div
            :markdown
                #{@emission["metadata"]["content"].gsub(/@[a-zA-Z0-9\-_]+[a-zA-Z0-9]/, "[\\0](/user/\\0/)")}
        %div
            %a{:href => "/emission/#{@emission["_id"]}/"}=@emission["posted_date"]

