
= display_profile_menu("password")

- if @passwordUpdated
    %p="Password updated!"
- else
    %p="You can change your password here"

= display_errors(@errors)

%form{:method => "post"}
    %p
        Current Password:
        %input{:type => "password", :name => "currentPassword", :tabindex => 1}
    %p
        New Password:
        %input{:type => "password", :name => "password1", :tabindex => 2}
    %p
        Repeat New Password:
        %input{:type => "password", :name => "password2", :tabindex => 3}
    %p
        %input{:type => "submit", :value => "Set Password"}

