
= display_profile_menu("account")

= display_errors(@errors)

%form{:method => "post"}
    %p
        Name:
        %input{:type => "text", :name => "pretty_name", :value => @logged_in_user.pretty_name, :tabindex => 1}
    %p
        Email:
        %input{:type => "text", :name => "email", :value => @logged_in_user.email, :tabindex => 2}
    %p
        Bio:
        %textarea{:name => "bio", :tabindex => 3}=@logged_in_user.bio
    %p
        %input{:type => "submit", :value => "Save"}
