
%h2=@user["username"]

- if @is_you
    %p="This is you!"
- elsif @is_following
    %p
        %a{:href=>"/user/#{@user["username"]}/unfollow/"}="Unfollow"
- else
    %p
        %a{:href=>"/user/#{@user["username"]}/follow/"}="Follow"

#emission_list
    - @emissions.each do |emission|
        = display_emission(emission)

