/* Perhaps foolishly, I'm using a color scheme from here: http://www.colorcombos.com/color-scheme-125.html */

body {
    width: 800px;
    margin: 0 auto 0 auto;
    font-family: Arial, sans-serif;
    background-color: #D9E2E1;
}

div#header {
    width: 790px;
    float: left;
    background-color: #727B84;
    padding-left: 10px;
    border-bottom: 3px solid #DF9496;
}

div#header div#header_left {
    float: left;
    width: 300px;
}

div#header div#header_right {
    float: right;
    width: 300px;
    text-align: right;
    padding-right: 10px;
    padding-top: 5px;
}

#outer_container {
    width: 790px;
    background-color: #A2ADBC;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

div#main_container {
    width: 540px;
    float: left;
    background-color: #F4F3EE;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div#sidebar {
    width: 200px;
    float: right;
    background-color: #DF9496;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div#emit_form {
    width: 505px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    background-color: #F6F4DA;
    border: 3px solid #DF9496;
    margin-bottom: 15px;
    margin-top: 10px;
}

div#emit_form textarea {
    width: 505px;
}

#footer {
    clear: both;
    text-align: center;
    margin-top: 5px;
    border-top: 2px solid #727B84;
    background-color: #727B84;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#emission_list {
    background-color: #DF9496;
    padding: 5px;
    margin-bottom: 5px;
    float: left;
}

div#emission_list div.emission {
    border-left: 3px solid #727B84;
    background-color: #F6F4DA;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
}

#emission_list div.emission div.emission_left {
    float: left;
    width: 60px;
}

#emission_list div.emission div.emission_right {
    float: right;
    width: 440px;
    padding-left: 10px;
}

#emission_list div.emission div.emission_left img.user_image {
    width: 60px;
}

div.single_emission {
    margin: 20px;
    padding: 15px;
    background-color: #449999;
}

#user_list {
    background-color: #DF9496;
    padding: 5px;
    margin-bottom: 5px;
    float: left;
}

div#user_list div.user {
    border-left: 4px solid #727B84;
    background-color: #F6F4DA;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    float: left;
}

#user_list div.user div.user_left {
    width: 60px;
    float: left;
}

#user_list div.user div.user_right {
    float: right;
    width: 440px;
    padding-left: 10px;
}

#user_list div.user div.user_left img.user_image {
    width: 60px;
}

div.user_info {
    background-color: #F6F4DA;
    padding: 10px;
}

div.user_info img.user_image {
    width: 180px;
}

#login_form {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #F6F4DA;
    border: 4px solid #DF9496;
}

#login_form form p {
    padding: 8px;
}

#signup_form {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #F6F4DA;
    border: 4px solid #DF9496;
}

#signup_form form p {
    padding: 8px;
}

#errors ul li {
    color: #DD0000;
}

#profile_menu {
    background-color: #DF9496;
    padding: 4px;
}

#profile_menu a.selected {
    font-weight: bold;
}
